@font-face {
  font-family: 'iconfont';
  /* project id 1489962 */
  src: url('//at.alicdn.com/t/font_1489962_f5erxci475a.eot');
  src: url('//at.alicdn.com/t/font_1489962_f5erxci475a.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1489962_f5erxci475a.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1489962_f5erxci475a.woff') format('woff'),
    url('//at.alicdn.com/t/font_1489962_f5erxci475a.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1489962_f5erxci475a.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.module-wrapper {
  .title {
    text-align: left;
    margin-top: 10px;

    .ivu-icon {
      vertical-align: baseline;
    }
  }

  .title-name {
    display: inline;
  }

  .content {
    line-height: 1.6;
    text-align: left;
    text-indent: 2em;
  }

}

.main {
  max-width: 1400px;
  margin: 50px auto;
}

a {
  color: #1db7e6;
}

.fixed {
  position: fixed;
}
